/* colores base: principal = #107363
secundarios = #00E6C1  */

@font-face {
    font-family: 'whire';
    src: url('../fonts/WireOne.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    src: local('?'),
        url('../fonts/Roboto-Regular.eot'),
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    src: local('?'),
        url('../fonts/Roboto-Bold.eot'),
}

body {
    font-family: 'Roboto';
    font-size: 1.25em;
    background: #107363;
    position: static;
}

header{
    font-family: 'whire';
    width: 100%;
    position: relative;
    color: white;
}
header div#header{
    width: 40%;
    border-bottom: 2px solid white;
}
header figure{
    display: inline-block;
    margin: 10px;
    visibility: hidden;
}
header h1{
    display: inline-block;
    font-size: 2.8em;
    margin: 0px;
    line-height: 100px;
    font-weight: lighter;
}
header a{
    color: white;
}

header nav{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40%;
    border-bottom: 2px solid white;
}
header nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 2em;
    line-height: 100px;
    max-height: 100px;
}
header ul li#select_home{
    font-family: 'icomoon';
    font-size: 1.15em;
}
header ul li#select_home:before{
    content: "\e927"
}
header ul li{
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}
div#btn-opciones{
    display: none;
}
div#contact_form{
    display: none;
    height: auto;
    width: 260px;
    background: #FDFDFD;
    position: absolute;
    right: 10px;
    box-shadow: 8px 8px 8px 8px rgba(105, 105, 105, 0.83);
}
div#contact_form form div#email_image{
    font-family: 'icomoon';
    font-size: 8em;
    text-align: center;
    color: #007CFF;
    background: #e6e6e6;
}
div#contact_form form div#email_image:before{
    content: '\e91c';
}
div#contact_form form div#close_form{
    font-family: 'icomoon';
    font-size: 1.2em;
    position: absolute;
    right: 0px;
    margin: 8px 8px;
}
div#contact_form form div#close_form:before{
    content: "\e90b";
    cursor: pointer;
}
div#contact_form form p{
    margin: 0;
    margin: 10px 10px;
}
div#contact_form form input,
div#contact_form form textarea{
    display: block;
    margin: 40px 0;
    border: none;
    border-bottom: 2px solid grey;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 3px;
}
div#contact_form form input#boton{
    background: #ff9900;
    border: none;
    padding: 6px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    width: 60%;
}
div.showFooter{
    height: 120px;
    width: 120px;
    background: #FDFDFD;
    border-radius: 50%;
    position: fixed;
    bottom: -35px;
    left: -35px;
    text-align: center;
    font-family: 'icomoon';
    font-size: 2.8em;
    color:#007CFF;

}
div.showFooter:before{
    content: '\f04f';
    position: relative;
    top: 18px;
    right: -10px;
}
.circleBig{
    position: fixed;
    transition: all 0.4s linear;
    height: 420px;
    width: 420px;
    border-radius: 50%;
    bottom: -85px;
    left: -85px;
    color: white;
    background: white;
}
footer{
    background: #FDFDFD;
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0px;
}
footer p{
    margin: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
/*div#number, div#email{
    height: 120px;
    width: 320px;
    background: #FDFDFD;
    border-radius: 30%;
    margin: 50px;

    text-align: center;
    font-family: 'icomoon';
    font-size: 2.8em;
    color:#007CFF;
}*/
@media screen and (max-width: 1000px){
    header nav{
        width: 45%;
    }
    header div#header{
        width: 45%;
    }
}

@media screen and (max-width: 800px){
    header div#header{
        width: 80%;
        border: none;
    }
    header div#header h1{
        line-height: 0px;
        margin: 35px 0px 30px 50px;
        font-size: 2.4em;
        text-shadow: 5px 5px 5px black;
    }
    header div#header figure{
        display: none;
    }
    header nav{
        display: none;
        border: none;
        position: relative;
        top: 0px;
        width: 100%;
        background:  #199581;
        border-top: 5px inset grey;
    }

    header nav.mostrar{
        visibility: visible;
    }
    header nav ul{
        line-height: 60px;
        padding: 10px;
        max-height: none;
    }
    header nav ul li{
        display: block;
    }

    div#btn-opciones{
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        width: 50px;
    }
    div#btn-opciones > *{
        width: 38px;
        height: 3px;
        background-color: #FDFDFD;
        margin: 9px 0;
        transition: transform 0.4s;
    }
    .change .barra-1 {
        -webkit-transform: rotate(-45deg) translate(-9px, -1px);
        transform: rotate(-45deg) translate(-9px, -1px);
    }
    .change .barra-2 {
        opacity: 0;
    }
    .change .barra-3 {
        -webkit-transform: rotate(45deg) translate(-18px, -8px);
        transform: rotate(45deg) translate(-18px, -8px);
    }
}
